.ttnav {
  position: absolute;
  width: 1920px;
  height: 130px;
  left: 0px;
  top: 0px;

  background: linear-gradient(180deg, rgba(147, 45, 183, 0.81) 10.42%, #0D1132 54.17%, rgba(180, 92, 249, 0.85) 73.44%, rgba(31, 39, 55, 0.985816) 100%);
  border: 1px solid #000000;
  box-sizing: border-box;
  backdrop-filter: blur(20px);
}

.ttlogo {
  position: absolute;
  width: 633px;
  height: 113px;
  left: 19px;
  top: 8px;
  background-image: url("https://i.ibb.co/s9YtFpZ/GF-Finder-Logo-4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 631px 145px;
  box-shadow: inset 0px 4px 4px rgba(203, 152, 221, 0.49);
  border-radius: 62px;
}

.ttsearchbar {
  position: absolute;
  width: 700px;
  height: 72px;
  left: 697px;
  top: 33px;

  background: linear-gradient(0deg, rgba(7, 1, 12, 0.51), rgba(7, 1, 12, 0.51)), #1C2331;
  box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}

.ttmail {
  position: absolute;
  z-index: 1;

  left: 1825px;
  top: 6px;
  width: 30px;
  height: 30px;

  background-repeat: no-repeat;
  background-size: contain;
  animation-fill-mode: backwards;
  background-image: url("https://i.ibb.co/WfKnKg1/Skull-Strker1.jpg");

}

.ttSignUp {
position: absolute;
width: 120px;
height: 42px;
left: 1680px;
top: 50px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;
}
.ttAboutUs{
position: absolute;
width: 140px;
height: 42px;
left: 1440px;
top: 50px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;
}

.ttlogin {
position: absolute;
width: 217px;
height: 35px;
left: 1680px;
top: 85px;
margin-top: 4px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;

}

.ttGif{
  position: relative;
  background-repeat: no-repeat;
  width: 1080px;
  height: 550px;
  top:0;
  left:0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(50, 33, 120, 0.95) 49.48%, #571580 85.94%);;
}

.modal-main {
  position:fixed;
  background: linear-gradient(180deg, rgba(50, 33, 120, 0.95) 49.48%, #571580 85.94%);
  width: 1080px;
  height: 350px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.picture-modal-main {
  position: relative;
  width: 639px;
  height: 320px;
  left: 50%;
  top: 50%;

  background: linear-gradient(180deg, rgba(9, 0, 46, 0.97) 22.92%, #250836 85.94%);
  transform: translate(-50%,-50%);
}

.username-modal-main {
  position: relative;
  width: 639px;
  height: 320px;
  left: 50%;
  top: 50%;

  background: linear-gradient(180deg, rgba(9, 0, 46, 0.97) 22.92%, #250836 85.94%);
  transform: translate(-50%,-50%);
}

.log-in-modal-main {
  position: relative;
  width: 490px;
  height: 420px;
  left: 50%;
  top: 50%;

  background: linear-gradient(180deg, rgba(9, 0, 46, 0.97) 22.92%, #250836 85.94%);
  transform: translate(-50%,-50%);
}

.sign-up-modal-main {
  position:fixed;
  width: 500px;
  height: 770px;
  left: 50%;
  top: 55%;
  display: flex;

  background: linear-gradient(180deg, rgba(9, 0, 46, 0.97) 22.92%, #250836 85.94%);
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.ttclose {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  appearance: none;
  font-size: unset;
}

.ttclose:hover {
  color: blue;
}

.ttsignupTitle {
  position: absolute;
  width: 602px;
  font-size: 24px;
  margin-top: 5px;
  margin-left: 25%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;

  color: #FFFFFF;

}
.ttname {
  display: inline-flex;
}

form {
  color: white;
  display: grid;
  margin-top: 10%;
  margin-left: 5%;
  font-size: larger;
}

input[type="text" i] {
  color: white;
  padding: 1px 2px;
  width: 450px;
  height: 40px;
  background: rgba(60, 62, 102, 0.55);
}

select{
  margin-left: 2%;
  height: 30px;
  background: rgba(60, 62, 102, 0.55);
  color: white;
}

.textinput {
  display: grid
}

input[type="submit" i] {
  background: rgba(81, 37, 138, 0.38);
  border-radius: 17px;
  color: white;
  width: 100px;
  height: 30px;
  place-self: center;
  font-size: larger;
}

.aboutme {
  height: 80px;
}

.ttclosesignup {
  color: white;
  position: fixed;
  height: 15px;
  top: 0;
  left: 0;
  margin-top: 735px;
  display: flex;
  position: fixed;
  margin-left: 37%;
}

.ttlogintitle {
  font-size: x-large;
  color: white;
  margin-left: 25%;
  display: flex;
  padding-top: 15px;
}

.ttcloselogin {
  margin-top: 20px;
  margin-left: 35%;
  color: white;
}

input[type="submit2" i] {
  background: rgba(81, 37, 138, 0.38);
  border-radius: 17px;
  color: white;
  width: 120px;
  height: 30px;
  margin-top: 25px;
  place-self: center;
  font-size: larger;
  text-align-last: center;
}

input[type="text2" i] {
  color: white;
  padding: 1px 2px;
  width: 430px;
  height: 40px;
  background: rgba(60, 62, 102, 0.55);
}

input[type="submit" i]:hover, input[type="submit2" i]:hover, select:hover, input[type="text" i]:hover, input[type="text2" i]:hover {
  border: solid 3px rgba(168, 140, 197, 1);
}

.ttclosesignup:hover, .ttcloselogin:hover{
  color: rgba(168, 140, 197, 1);
}

.ttAboutUs:hover, .ttlogout:hover, .ttSignUp:hover{
  border-bottom: solid 4px whitesmoke;
}

.ttlogin:hover {
  font-style: italic;
}

.ttsearchbar:hover {
  background-color: rgba(168, 140, 197, 1);
}

.THANKYOU {
  font-size: xx-large;
  color: white;
  margin-top: 500px;
  margin-left: 40%;
}


.submit2 {
  margin-top: 5%;
  margin-left: 35%;
}

.loginform {
  margin-top: 10%;
  margin-left: 5%;
}

.ttuser {
position: absolute;
height: 42px;
top: 84px;
left: 1700px;
width: 200px;
justify-content: center;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;
}
.ttuserprof {
  margin: 10px;
  text-align: center;
}
.ttprofilepic {
position: absolute;
width: 80px;
height: 74px;
left: 1761px;
top: 15px;
border-radius: 50%;
background: rgb(253 253 253 / 86%);
backdrop-filter: blur(4px);
}

.ttlogout {
  display: flex;
  position: absolute;
  color: white;
  font-size: 15px;
  width: 115px;
  height: 42px;
  left: 1610px;
  top: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
}

.ttprofilepic:hover {
  background: rgb(0 182 255 / 80%);
}

.ttuser:hover, .ttprofilepic:hover {
  color: rgb(0 182 255 / 80%);
}

.ttclosepicture {
  position: fixed;
  top: 250px;
  left: 240px;
  font-size: 16px;
  color: white;
}

.submitPic {
width: 176px;
height: 37px;
position: fixed;
top: 200px;
left: 260px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: large;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;
}

.updatePhoto {
  margin-top: 5%;
}

input[type="text4" i] {
  color: white;

  padding: 1px 2px;
  display: flex;
  height: 40px;
  width: 92%;
  background: rgba(60, 62, 102, 0.55);
}

.keepitpg {
  color: white;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
}

.ttclosepicture:hover {
  color: rgba(168, 140, 197, 1);
}
