.ttnav {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 0px;
  z-index: 9000;

  background: linear-gradient(180deg, rgba(147, 45, 183, 0.81) 10.42%, #0D1132 54.17%, rgba(180, 92, 249, 0.85) 73.44%, rgba(31, 39, 55, 0.985816) 100%);
  border: 1px solid #000000;
  box-sizing: border-box;
  backdrop-filter: blur(20px);
}

.ttlogo {
  position: absolute;
  width: 25%;
  height: 77px;
  left: 3%;
  top: 12%;
  background-image: url('https://i.ibb.co/s9YtFpZ/GF-Finder-Logo-4.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 358px 99px;
  box-shadow: inset 0px 4px 4px rgba(203, 152, 221, 0.49);
  border-radius: 62px;
}

.ttsearchbar {
  position: absolute;
  width: 38%;
  height: 65%;
  left: 31%;
  top: 20%;

  background: linear-gradient(0deg, rgba(7, 1, 12, 0.51), rgba(7, 1, 12, 0.51)), #1C2331;
  box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}

.ttmail {
  position: absolute;
  z-index: 1;
  left: 96%;
  top: 11%;
  width: 18px;
  height: 20px;

  background-repeat: no-repeat;
  background-size: contain;
  animation-fill-mode: backwards;
  background-image: url("https://i.ibb.co/WfKnKg1/Skull-Strker1.jpg");

}

.ttSignUp {
position: absolute;
width: 6%;
height: 42px;
left: 82%;
top: 34%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;
}
.ttAboutUs{
position: absolute;
width: auto;
height: 42px;
left: 72%;
top: 33%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;
}

.ttlogin {
position: absolute;
padding-bottom: 4px;
height: 10%;
left: 86%;
top: 75%;
margin-top: 4px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;

}

.ttGif{
  position: absolute;
  background-repeat: no-repeat;
  width: 100%;
  height: 55%;
  top: 0;
  left: 0;
}

.modal {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(50, 33, 120, 0.95) 49.48%, #571580 85.94%);
  pointer-events: all;
  z-index: 100;
}

.modal-main {
  position:fixed;
  /* background: linear-gradient(180deg, rgba(50, 33, 120, 0.95) 49.48%, #571580 85.94%); */
  width: 600px;
  height: 350px;
  top: 44%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 102;
}

.mail-modal-main {
  position:fixed;
  background: linear-gradient(180deg, rgba(50, 33, 120, 0.95) 49.48%, #571580 85.94%);
  width: 600px;
  height: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 102;
}

.picture-modal-main {
  position: fixed;
  width: 29%;
  height: 40%;
  left: 50%;
  top: 50%;
  z-index: 102;

  background: linear-gradient(180deg, rgba(9, 0, 46, 0.97) 22.92%, #250836 85.94%);
  transform: translate(-50%,-50%);
}

.username-modal-main {
  position: fixed;
  width: 25%;
  height: 320px;
  left: 50%;
  top: 50%;
  z-index: 102;
  background: linear-gradient(180deg, rgba(9, 0, 46, 0.97) 22.92%, #250836 85.94%);
  transform: translate(-50%,-50%);
}

.log-in-modal-main {
  position: fixed;
  width: 27%;
  height: 41%;
  left: 50%;
  top: 50%;

  background: linear-gradient(180deg, rgba(9, 0, 46, 0.97) 22.92%, #250836 85.94%);
  transform: translate(-50%,-50%);
  z-index: 102;
}

.sign-up-modal-main {
  position:fixed;
  width: 26%;
  height: 68%;
  left: 50%;
  top: 55%;
  display: flex;
  z-index: 102;
  background: linear-gradient(180deg, rgba(9, 0, 46, 0.97) 22.92%, #250836 85.94%);
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.ttclose {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  appearance: none;
  font-size: unset;
}

.ttclose:hover {
  color: blue;
}

.ttsignupTitle {
  position: absolute;
  width: 75%;
  font-size: 24px;
  margin-top: 1%;
  margin-left: 13%;
  margin-right: 13%;
  margin-bottom: 1%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;

  color: #FFFFFF;

}
.ttname {
  display: inline-flex;
}

form {
  color: white;
  display: grid;
  margin-top: 10%;
  margin-left: 5%;
}

/* 243: NEED TO MAKE THIS A CLASS OR IT WILL AFFECT MY SEARCHBAR COMPONENT  ALSO ON LINE 323*/
input[type="abouttext" i] {
  color: white;
  padding: 1px 2px;
  width: 205%;
  height: 10%;
  background: rgba(60, 62, 102, 0.55);
}

select{
  margin-left: 2%;
  height: 10%;
  background: rgba(60, 62, 102, 0.55);
  color: white;
}

.textinput {
  display: grid
}



.aboutme {
  height: 80px;
}

.submitAboutForm {
  background: rgba(81, 37, 138, 0.38);
  border-radius: 17px;
  color: white;
  width: 48%;
  height: 80%;
  text-align-last: center;
  font-size: larger;
}

.ttclosesignup {
  color: white;
  position: fixed;
  height: 15px;
  top: 0;
  left: 0;
  margin-top: 735px;
  display: flex;
  position: fixed;
  margin-left: 37%;
}

.ttlogintitle {
  font-size: medium;
  color: white;
  margin-left: 25%;
  display: flex;
  padding-top: 15px;
}

.ttcloselogin {
  margin-top: 2%;
  margin-left: 30%;
  color: white;
}

input[type="submit2" i] {
  background: rgba(81, 37, 138, 0.38);
  border-radius: 17px;
  color: white;
  width: 120px;
  height: 30px;
  margin-top: 25px;
  place-self: center;
  font-size: larger;
  text-align-last: center;
}

input[type="submit" i] {
  background: rgba(81, 37, 138, 0.38);
  border-radius: 17px;
  color: white;
}

input[type="text2" i] {
  color: white;
  padding: 1px 2px;
  width: 93%;
  height: 30px;
  background: rgba(60, 62, 102, 0.55);
}

/* HEEEOROROROROROROOR NEED A CHANGE */
input[type="submit" i]:hover, input[type="submit2" i]:hover, input[type="abouttext" i]:hover, input[type="text2" i]:hover {
  border: solid 3px rgba(168, 140, 197, 1);
}

.ttclosesignup:hover, .ttcloselogin:hover{
  color: rgba(168, 140, 197, 1);
}

.ttAboutUs:hover, .ttlogout:hover, .ttSignUp:hover{
  font-style: italic;}

.ttlogin:hover {
  border-bottom: 1px solid whitesmoke;
}

.ttsearchbar:hover {
  background-color: rgba(168, 140, 197, 1);
}

.THANKYOU {
  font-size: xx-large;
  color: white;
  margin-top: 500px;
  margin-left: 40%;
}


.submit2 {
  margin-top: 5%;
  margin-left: 35%;
}
.submit {
  background: rgba(81, 37, 138, 0.38);
  border-radius: 17px;
  color: white;
}
.loginform {
  margin-top: 10%;
  margin-left: 5%;

}

.ttuser {
position: absolute;
height: 18%;
top: 78%;
left: 87.5%;
width: 200px;
justify-content: center;


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;
}
.ttuserprof {
  text-align: center;
}
.ttprofilepic {
position: absolute;
width: 5%;
height: 64%;
left: 92%;
top: 14%;
border-radius: 50%;
background: rgb(253 253 253 / 86%);
backdrop-filter: blur(4px);
}

.ttlogout {
  display: flex;
  position: absolute;
  color: white;
  width: auto;
  height: 42px;
  left: 82%;
  top: 41%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

.ttprofilepic:hover {
  background: rgb(0 182 255 / 80%);
}

.ttuser:hover, .ttprofilepic:hover {
  color: rgb(0 182 255 / 80%);
}

.ttclosepicture {
  position: fixed;
  top: 79%;
  left: 33%;
  font-size: 16px;
  color: white;
}

.submitPic {
width: 176px;
height: 37px;
position: fixed;
top: 65%;
left: 40%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: large;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;
}

.updatePhoto {
  margin-top: 5%;
}

input[type="text4" i] {
  color: white;

  padding: 1px 2px;
  display: flex;
  height: 30px;
  width: 92%;
  background: rgba(60, 62, 102, 0.55);
}

.keepitpg {
  color: white;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
}

.ttclosepicture:hover {
  color: rgba(168, 140, 197, 1);
}

.ttsignupform {
  font-size: small;
}

.annoyingform {
  margin-top: 10%;
}

.backdropapp {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, #080327 0%, rgba(35, 0, 51, 0.890647) 43.23%, rgba(8, 12, 47, 0.87) 75%, rgba(18, 18, 83, 0.890647) 84.37%);
}

.gifimage {
  width: 100%;
  left: 0px;
  top: 0px;
}


.ttGameInvites {

}

.ttFriendInvites {

}

.kbPnPt {
  margin-left: 1%;
  margin-right: 1%;
}

.appcenter {
  width: auto;
  min-width: 1200px;
  display: flex;
  position: relative;
  margin-top: 10%;
  margin-bottom: 5%;
  /* margin-bottom: 20%; */
}

.appFriendsandTeams {
  background: linear-gradient(0deg,rgba(7,1,12,0.86),rgba(7,1,12,0.86)),rgba(40,83,165,0.86);
  box-shadow: inset 0px 4px 4px rgba(0,0,0,0.5);
  border-radius: 10px;
  width: 50%;
  margin-right: 2%;
}

.GameMenu {
  padding-left: 1%;
  color: white;
  width: 40%;
  margin-left: 2%;
  background: linear-gradient(0deg,rgba(7,1,12,0.86),rgba(7,1,12,0.86)),rgba(40,83,165,0.86);
  box-shadow: inset 0px 4px 4px rgba(0,0,0,0.5);
  border-radius: 10px;
}

.VjlsF {
  margin-right: 3%;
  width: 35%;
}

.ourPhotos{
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.pauls, .tracys, .justins {
  margin: 2%;
  display: flex;
  opacity: 0.5;

}

.ourPhotosDiv {
  width: 15%;
}

.interestingbio{
  height: auto;
  width: 80%;
  top: 50%;
  margin-left: 1%;
  margin-top: 1%;
  display: flex;
}

.moreaboutus {
  color: white;
  background: linear-gradient(180deg, #080327 0%, rgba(35, 0, 51, 0.890647) 43.23%, rgba(8, 12, 47, 0.87) 75%, rgba(18, 18, 83, 0.890647) 84.37%);
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px
}

.pauls:hover, .tracys:hover, .justins:hover {
  opacity: 1.0 !important;
}

.fortnite {
  position: fixed;
  top: 40%;
  left: 32.5%;
  text-decoration: none;
  opacity: 0;
}

.league {
  top: 40%;
  position: fixed;
  left: 36.5%;
  text-decoration: none;
  opacity: 0;
}

.minecraft {
  position: fixed;
  top: 40%;
  left: 40.5%;
  text-decoration: none;
  opacity: 0;
}

.overwatch {
  position: fixed;
  left: 44.5%;
  top: 40%;
  text-decoration: none;
  opacity: 0;
}

.apex {
  position: fixed;
  top: 40%;
  left: 48.5%;
  text-decoration: none;
  opacity: 0;
}


/* .appfooter {
  position: absolute;
  width: 100%;
  height: 25%;
  background: linear-gradient(180deg, #090011 16.67%, #00113C 51.56%, rgba(0, 0, 0, 0.58) 100%);
  filter: blur(25px);
  border-radius: 91px;
  top: 72%;
} */

